.div-banner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    background: #f4f4f4 url('../../fonts/banner2.png') no-repeat center center;
    background-size: cover;
}

.div-banner2 h2 {
  font-size: 5rem;
  text-align: center;
  line-height: 1.2;
  margin: 0;
}

.div-banner2 h2 span {
  display: inline-block;
  transform: translateY(-20rem); 
  color: #6342EB;
  font-weight: bold;
}



.div-banner2 p {
    font-family: Lato;
    font-size: 2em;
    color: #181717;
    text-align: center;
    margin-bottom: 3rem;
}

.div-banner2 .btn-login {
    background: #111111;
    background-color: #f4f4f4;
    border: 2px solid black;
    padding: 1.7rem 6rem;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 1.2rem;
    
    
}

.div-banner2 .btn-login:hover {
    background: #04284e;
}

/* Texto centrado */
.busqueda-top h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.div-banner2 .btn-register {
    background: #d354e4;
    color: #fff;
    padding: 1.7rem 6rem;
    border-radius: 40px;

}

.div-banner2 .btn-register:hover {
    background: #1e7e34;
}

