
.div-banner2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.h2 {
    font-size: 4rem;
    margin-top: 20%;
    font-weight: bold;
}


.p1 {
    font-size: 1.8rem;
    margin-top: 30%;
    padding: 0 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.p1 b {
    font-weight: bold; 
}

.p2 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10%;
    padding: 0 2rem;
}

.btn-login {
    border: 2px solid black;
    width: 222px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.btn-register {
    color: white;
    width: 230px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6342E8;
    margin-top: 5%;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}


.or-Span {
    margin-top: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

.ocultar {
    display: none;
}


@media (max-width: 768px) {
    .h2 {
        font-size: 3rem;
        margin-top: 15%;
    }
    
    .p1 {
        font-size: 1.5rem;
        margin-top: 20%;
    }
    
    .p2 {
        font-size: 1rem;
    }
    
    .btn-login,
    .btn-register {
        width: 200px;
        height: 50px;
    }
}
