.div-banner2 {
    height: 99vh;
    width: 80%;
    background: url('../../fonts/Splash (1).png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #000;
    position: relative;
    padding: 2rem 1rem;
}


.h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 6rem;
}


.p1 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 1.5rem;
    line-height: 1.5;
    max-width: 300px;
}

.p1 b {
    font-weight: bold; 
}

/* Texto pequeño */
.p2 {
    font-size: 1rem;
    color: #444;
    margin-top: 1rem;
    max-width: 320px;
}


.btn-login {
    border: 2px solid black;
    width: 220px;
    height: 55px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: white;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background: #eee;
}

/* Texto OR */
.or-Span {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

/* Botón REGISTER */
.btn-register {
    color: white;
    width: 230px;
    height: 55px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6342E8;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-register:hover {
    background-color: #5324d4;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .h2 {
        font-size: 2rem;
    }
    
    .p1 {
        font-size: 1.2rem;
    }
    
    .p2 {
        font-size: 0.9rem;
    }
    
    .btn-login,
    .btn-register {
        width: 200px;
        height: 50px;
    }
}
